<launch>

<!-- arg name="fcu_url" default= "udp://:14540@127.0.0.1:14557"-->
<arg name="fcu_url" default= "udp://:14540@localhost:14557"/>
<arg name="gcs_url" default="" />
<arg name="tgt_system" default="1" />
<arg name="tgt_component" default="1" />


<node name="cv_node" pkg="ros_cv_pkg" type="ros2cv.py" output="screen">
</node>

</launch>
